.projects-section {
  padding: 3rem 1rem;
  background-color: #e1ebed;
  width: 100%;
  padding: 0 3rem;
  padding-bottom: 3rem;
  overflow-x: visible;
}

.projects-title {
  font-size: 2rem;
  color: #331c52;
}

.projects-text{
    margin-top: 0.5rem;
    margin-bottom:0.5rem;
    color: #331c52;
}



.project-card {
  width: 100%;            
  max-width: 260px;                  
  background: #dccfed;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  text-align: center;
}
.swiper-slide {
  display: flex;
  justify-content: flex-start;  /* ✅ center the card inside each slide */
}


.project-card:hover {
  transform: translateX(-6px);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-info {
  padding: 1rem;
  text-align: center;
}

.project-info h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #331C52;
}

.code-button {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.4rem 1rem;
  background-color:#291c3a;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.code-button:hover {
  background-color:  #331C52;
}

