@font-face {
    font-family: mycustom;
    src: url('/text/text3.ttf') format('truetype');

}
.main{
    display:grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.about-text{
    display:flex;
    flex-direction: column;
    padding: 2rem 2rem;
    color: #EBF4F6;
}
.about-title{
    color: #08D9D6;
    font-size: 2.3rem;
    margin-bottom: 0.4rem;
}
.about-description{
    font-size: 1.25rem;
    width: auto;
    max-width: 560px;
}
.skills-title {
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
  color: #08D9D6; 
}
.skills-title1{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #EBF4F6;
}
.skills-section{
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem 2rem 0;
  width: auto;
  
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 0.5rem;
 width: 340px;
}

.skill-card {
  background-color: #252525; /* card color */
  width: 60px;
  height: 60px;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.skill-card i {
  font-size: 28px;
}
.profile-card{
    background-color: #252525;
    width: 410px;
    height: auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    color: white;
    margin-right: 2rem;
    margin-top: 2rem;
    grid-column: 2;
    grid-row: span 2;
}
.header-profile{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.pc{
    display: flex;
    flex-direction: column;
}
.pc-1{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #FF7F11;
    text-align: start;
    animation: move 2s ease-in-out infinite;
}
.pc-3{
    font-size: 1.2rem;
}
@keyframes move {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}
.pc-2{
    font-family: mycustom;
    font-size: 3rem;
    font-weight: bold;
    color: #08D9D6;
    margin-left: 1.5rem;
    margin-top: 4rem;
    letter-spacing: 0.5rem;
    width: auto;
    line-height: 5px;
}
.pc-22{
    font-family: mycustom;
    font-size: 3rem;
    font-weight: bold;
    color: #08D9D6;
    margin-left: 1rem;
    margin-top: 1rem;
    letter-spacing: 0.5rem;
    width: auto;
    margin-bottom: 2rem;
}
.pc-3{
margin: 1rem 1rem;

}
.profile {  
  width: 300px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
  box-shadow: 2px 2px 10px #08D9D6;
  margin-right: 1rem;
}

.profile img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  object-fit: cover;
}
.profile:hover{
  box-shadow: 0 0 20px #08D9D6;
  transform: scale(1.1);
}

@media(max-width: 1048px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .about-text{
        display: flex;
        flex-direction: column;
        align-items: center;    
        text-align: center;
        justify-content: center;
        padding: 1rem 1rem;
    }
    .about-title{
        
        margin-bottom: 0.5rem;
        font-size: 1.75rem;
    }
    .about-description{
        text-align: center;
        font-size:1rem;
    }
    .skills-title{
        font-size: 1.75rem;
    }
    .skills-title1{
        font-size: 1rem;
       
    }
    .skills-section{
        margin-top: 2rem;
        text-align: center;
        margin-bottom: 3rem;
        padding: 1rem;
        align-items: center;
    }
    .skills-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        place-items: center;
        gap: 0.2rem;
       
    }
     .profile-card{
        align-items: center;
        width: auto;
        margin: 32px ;
        margin-right: 32px;
    }
    .header-profile{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profile{
        width: 150px;
        height: 150px;
        transform: scale(1.1);
        margin-right: 0;
    }
    .pc{
        flex-direction: row;
    }
    .pc-2{
        margin: 2rem 0.2rem 0 0;

     font-size: 4rem;
    }
    .pc-22{
        margin: 0;
        font-size: 3rem;
    }
    .pc-3{
         text-align: center;
    }
    
}
@media  (max-width: 600px){
.pc{
    flex-direction: column;
}
.pc-2{
    margin-bottom: 1rem;
}
.profile{
    margin-right: 1rem;
}
.main{
    gap: 1rem;
}
.pc-2{
    margin-top: 3rem;
}
.pc-22{
    margin:0.5rem 0 0.5rem 0.4rem;
}

}

@media  (max-width: 465px){
.header-profile{
    gap: 0.5rem;
}
.profile{
    width: 7rem;
    height: 7rem;
    margin-top: 10px;
    
}
.pc-2{
    margin-top: 3rem;
}
.pc-22{
    margin:0.5rem 0 0.5rem 0.4rem;
}
 .about-text{
    margin: 1rem 1rem;
    align-items: flex-start;    
    }
   
    .about-description{
        text-align: left;
    }
   
.skills-section{
    text-align: start;
    align-items: flex-start;
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.skills-grid {
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 0.5rem;
  width: 290px;
}

.skill-card {
 
  width: 50px;
  height: 50px;
  
}

}
    

