.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  background-color: #8121d0;
  justify-content: space-between;
  transition: transform 0.3s ease;
  z-index: 1000;
  
}
.header.hide {
  transform: translateY(-100%); 
}

.header.show {
  transform: translateY(0); 
}
.navbar {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

.nav-button {
  background: transparent;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  color: #f0eaf9;
  font-weight: bold;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav-button.email-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1.7rem;
  text-decoration: none;
}


.nav-button:hover {
  background-color: #8121d0;
  color: #291c3a;
 
}

@media(max-width: 564px) {
  .nav-button {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }
  .nav-button.email-icon {
    gap: 0.2rem;
    margin-left: 0.5rem;
  }
}

@media(max-width: 460px) {
 
  .navbar{
    gap: 0.1rem;
    padding-left: 0.2rem;
  }
  .nav-button{
    padding: 0.25rem 0.1 rem;
  }
  .nav-button.email-icon{
    margin-left: 0.1rem;
    gap: 0.1rem;
    font-size: 11.8px;
  }
}


